.image-17-icon2,
.image-27-icon1 {
  position: absolute;
  top: 156px;
  left: -44px;
  border-radius: var(--br-33xl);
  width: 2716px;
  height: 647px;
  object-fit: cover;
}
.image-27-icon1 {
  top: 889px;
  left: 919px;
  border-radius: var(--br-64xl);
  width: 1218px;
  height: 813px;
}
.beasiswa-undip-child3 {
  position: absolute;
  top: 69px;
  left: -44px;
  width: 1782px;
  height: 101px;
  object-fit: cover;
}
.beasiswa-undip-child4 {
  position: absolute;
  top: 34px;
  left: -20px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.beasiswa-undip-child5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan12 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus12 {
  position: absolute;
  top: 27px;
  left: 1353px;
  font-size: var(--font-size-26xl);
  font-weight: 600;
  text-align: center;
  display: inline-block;
  width: 374px;
  height: 63px;
  color: var(--color-white);
}
.search-icon11 {
  position: absolute;
  top: 34px;
  left: 1181px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.home7 {
  position: absolute;
  top: 35px;
  left: 52px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  text-align: center;
  width: 438px;
  height: 70px;
}
.group-child263 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back10 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child264,
.group-child265 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child265 {
  left: 69px;
}
.rectangle-parent102 {
  position: absolute;
  top: 3606px;
  left: 1427px;
  width: 239px;
  height: 60px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.menu-icon20 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}
.group-child266,
.group-child267 {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 248px;
}
.group-child266 {
  top: 0;
  left: 3px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  height: 57px;
}
.group-child267 {
  top: 3px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 56px;
}
.selengkapnya13 {
  position: absolute;
  top: 5.1px;
  left: 27px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 58px;
}
.rectangle-parent103 {
  position: absolute;
  top: 1598px;
  left: 100px;
  width: 268px;
  height: 63.1px;
  color: var(--color-white);
}
.beasiswa-undip-child6 {
  position: absolute;
  top: 885px;
  left: 100px;
  background-color: var(--color-brown);
  width: 172px;
  height: 48px;
}
.berita-terkini3,
.media9 {
  position: absolute;
  letter-spacing: 0.04em;
}
.media9 {
  top: 873px;
  left: 103px;
  font-size: var(--font-size-26xl);
  color: var(--color-gainsboro-100);
}
.berita-terkini3 {
  top: 919px;
  left: 100px;
  font-size: var(--font-size-46xl);
  font-weight: 600;
}
.beasiswa-undip-child7 {
  position: absolute;
  top: 1021px;
  left: 108px;
  background-color: var(--color-gray-200);
  width: 959px;
  height: 5px;
}
.beasiswa-undip-child8,
.image-15-icon2 {
  position: absolute;
  top: 1661px;
  left: 521px;
  width: 174px;
  height: 13px;
  object-fit: cover;
}
.image-15-icon2 {
  top: 223px;
  left: 712px;
  width: 305px;
  height: 357px;
}
.beasiswa-ini-diberikan1 {
  margin: 0;
}
.beasiswa-ini-diberikan-container1 {
  position: absolute;
  top: 1252px;
  left: 103px;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  display: inline-block;
  width: 775px;
}
.group-child268 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child269,
.group-child270 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child270 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact16,
.mitra12 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact16 {
  top: 285px;
  left: 1700px;
}
.vector-parent11 {
  position: absolute;
  top: 314px;
  left: 0;
  width: 2758px;
  height: 847px;
}
.dinas-pendidikan-dan-kebudayaa-icon12 {
  position: absolute;
  top: 746px;
  left: 680px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email-perguruantinggijateng-container12 {
  position: absolute;
  top: 767px;
  left: 1584px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.group-child271,
.group-child272,
.group-child273 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px -6px 3.4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child272,
.group-child273 {
  left: 966px;
  box-shadow: 9px -5px 4px rgba(0, 0, 0, 0.25);
}
.group-child273 {
  left: 1449px;
  box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.25);
}
.group-child274,
.more48 {
  position: absolute;
  top: 0;
  height: 46.1px;
}
.group-child274 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more48 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child275 {
  position: absolute;
  top: 23.1px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.group-child276,
.rectangle-parent105 {
  position: absolute;
  top: 452px;
  left: 76px;
  width: 290px;
  height: 46.1px;
}
.group-child276 {
  top: 451.9px;
  left: 1708px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.group-child280,
.rectangle-parent106 {
  position: absolute;
  top: 452px;
  left: 1042px;
  width: 290px;
  height: 46.1px;
}
.group-child280 {
  top: 23.1px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent107 {
  position: absolute;
  top: 452px;
  left: 1561px;
  width: 290px;
  height: 46.1px;
}
.rectangle-parent104 {
  position: absolute;
  top: 1px;
  left: 22px;
  width: 1892px;
  height: 550px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.fasilitas5,
.more-info7,
.pendaftaran5 {
  position: absolute;
  top: 22px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 438px;
  height: 70px;
}
.fasilitas5,
.more-info7 {
  left: 921px;
}
.more-info7 {
  left: 1437px;
}
.icoutline-chat-icon5,
.material-symbolslist-alt-outl-icon5 {
  position: absolute;
  top: 108px;
  left: 1531px;
  width: 270px;
  height: 270px;
  overflow: hidden;
  object-fit: cover;
}
.material-symbolslist-alt-outl-icon5 {
  top: 114px;
  left: 113px;
  width: 253px;
  height: 253px;
}
.group-child281 {
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 6px -5px 3.8px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child283 {
  position: absolute;
  top: 23px;
  left: 175px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.more51,
.rectangle-parent109 {
  position: absolute;
  height: 46.1px;
}
.more51 {
  top: 0;
  left: 70px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.rectangle-parent109 {
  top: 452px;
  left: 136px;
  width: 290px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.group-wrapper1,
.rectangle-parent108 {
  position: absolute;
  top: 0;
  left: 0;
  width: 503px;
  height: 550px;
}
.group-wrapper1 {
  left: 439px;
}
.fluentbuilding-32-regular-icon5,
.vector-icon29 {
  position: absolute;
  top: 92px;
  left: 1080px;
  width: 258px;
  height: 258px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon29 {
  height: 37.77%;
  width: 11.29%;
  top: 22.87%;
  right: 56.74%;
  bottom: 39.36%;
  left: 31.97%;
  max-width: 100%;
  max-height: 100%;
}
.group-parent11,
.group-parent12 {
  position: absolute;
  top: 0;
  left: 548px;
  width: 1914px;
  height: 551px;
  font-size: var(--font-size-23xl);
  color: var(--color-black);
}
.group-parent11 {
  top: 4032px;
  left: -548px;
  width: 2758px;
  height: 1161px;
  text-align: center;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.beasiswa-kuliah-undip1 {
  position: absolute;
  top: 1039px;
  left: 100px;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
  width: 910px;
}
.humas-undip9 {
  text-decoration: underline;
}
.humas-undip8 {
  color: inherit;
}
.beasiswa-undip3,
.oleh-humas-undip-container4 {
  position: absolute;
  top: 1214px;
  left: 100px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-gray-700);
}
.beasiswa-undip3 {
  top: 614px;
  left: 59px;
  font-size: var(--font-size-86xl);
  font-weight: 800;
  color: var(--color-white);
  text-align: center;
  display: inline-block;
  width: 1610px;
  height: 142px;
  text-shadow: 12px 4px 12.3px rgba(0, 0, 0, 0.63);
}
.beasiswa-undip-child9 {
  position: absolute;
  top: 1964px;
  left: 81px;
  border-radius: var(--br-16xl);
  background-color: var(--color-midnightblue);
  width: 1566px;
  height: 1339px;
}
.beasiswa-undip-child10 {
  position: absolute;
  top: 2033px;
  left: 162px;
  border-radius: var(--br-29xl);
  background-color: var(--color-white);
  width: 1413px;
  height: 1177px;
}
.a-bantuan-biaya-container1,
.e-djarum-beasiswa-container1 {
  position: absolute;
  top: 2779px;
  left: 203px;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 1323px;
}
.a-bantuan-biaya-container1 {
  top: 2068px;
  left: 197px;
  width: 1138px;
}
.c-beasiswa-bbp-container1,
.d-beasiswa-supersemar-container1,
.f-beasiswa-lpdp-container1 {
  position: absolute;
  top: 2473px;
  left: 197px;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 1259px;
}
.d-beasiswa-supersemar-container1,
.f-beasiswa-lpdp-container1 {
  top: 2630px;
}
.f-beasiswa-lpdp-container1 {
  top: 2959px;
  width: 1345px;
  height: 452px;
}
.httpsbakundipacidjenis-1 {
  position: absolute;
  top: 3127px;
  left: 197px;
  font-size: var(--font-size-11xl);
  text-decoration: underline;
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-gray-800);
}
.group-child284 {
  position: absolute;
  top: 7px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-brown);
  box-shadow: 7px -6px 6.1px rgba(0, 0, 0, 0.25);
  width: 500px;
  height: 99px;
}
.info-beasiswa1 {
  position: absolute;
  top: 0;
  left: 41px;
  letter-spacing: 0.04em;
}
.rectangle-parent110 {
  position: absolute;
  top: 1894px;
  left: 107px;
  width: 500px;
  height: 110px;
  font-size: var(--font-size-51xl);
  color: var(--color-lavender);
}
.beasiswa-undip2 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 5193px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-black);
  font-family: var(--font-saira-condensed);
}
