.group-child222 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child223,
.group-child224 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child224 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact14,
.mitra10 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact14 {
  top: 285px;
  left: 1700px;
}
.vector-parent9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2758px;
  height: 847px;
}
.dinas-pendidikan-dan-kebudayaa-icon10 {
  position: absolute;
  top: 432px;
  left: 680px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email10 {
  margin: 0;
}
.email-perguruantinggijateng-container10 {
  position: absolute;
  top: 453px;
  left: 1584px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.group-parent9 {
  position: absolute;
  top: 3817px;
  left: -552px;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.contact-child5 {
  position: absolute;
  top: 69px;
  left: -44px;
  width: 1782px;
  height: 101px;
  object-fit: cover;
}
.contact-child6,
.contact-child7 {
  position: absolute;
  top: 34px;
  left: -20px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.contact-child7 {
  top: 0;
  left: 0;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan10 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus10 {
  position: absolute;
  top: 27px;
  left: 1353px;
  font-size: var(--font-size-26xl);
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
  color: var(--color-white);
}
.search-icon9 {
  position: absolute;
  top: 34px;
  left: 1181px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.home5 {
  position: absolute;
  top: 35px;
  left: 52px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
  cursor: pointer;
}
.group-child225 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back8 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child226,
.group-child227 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child227 {
  left: 69px;
}
.rectangle-parent87 {
  position: absolute;
  top: 3341px;
  left: 1440px;
  width: 239px;
  height: 60px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.menu-icon18 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}
.contact-us1 {
  position: absolute;
  top: 223px;
  left: 71px;
  font-size: var(--font-size-81xl);
  letter-spacing: 0.05em;
  line-height: 100%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 576px;
}
.contact-child10,
.contact-child11,
.contact-child8,
.contact-child9 {
  position: absolute;
  top: 3624px;
  left: 35px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 447px;
}
.contact-child10,
.contact-child11,
.contact-child9 {
  left: 518px;
  box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
}
.contact-child10,
.contact-child11 {
  left: 1001px;
}
.contact-child11 {
  left: 1484px;
  box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
}
.group-child228,
.more40 {
  position: absolute;
  top: 0;
  height: 50px;
}
.group-child228 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more40 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child229 {
  position: absolute;
  top: 25px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.rectangle-parent88,
.rectangle-parent89,
.rectangle-parent90 {
  position: absolute;
  top: 3979px;
  width: 290px;
  height: 50px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.rectangle-parent88 {
  left: 111px;
  cursor: pointer;
}
.rectangle-parent89,
.rectangle-parent90 {
  left: 595px;
}
.rectangle-parent90 {
  left: 1077px;
}
.group-child235 {
  position: absolute;
  top: 25px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent91 {
  position: absolute;
  top: 3979px;
  left: 1560px;
  width: 290px;
  height: 50px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.vector-icon21,
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  position: absolute;
  height: 3.52%;
  width: 12.21%;
  top: 80.92%;
  right: 22.22%;
  bottom: 15.56%;
  left: 65.57%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon22,
.vector-icon23,
.vector-icon24 {
  height: 2.85%;
  width: 12.85%;
  top: 81.53%;
  right: 77.84%;
  bottom: 15.62%;
  left: 9.32%;
}
.vector-icon23,
.vector-icon24 {
  height: 2.92%;
  width: 8.77%;
  top: 81.04%;
  right: 52.15%;
  bottom: 16.05%;
  left: 39.08%;
}
.vector-icon24 {
  height: 3.98%;
  width: 11.96%;
  top: 81.1%;
  right: -3.38%;
  bottom: 14.92%;
  left: 91.42%;
}
.lokasi-logo-25380-1-icon1 {
  position: absolute;
  top: 509px;
  left: 87px;
  width: 80px;
  height: 90px;
  object-fit: cover;
}
.telepon-7729-1-icon1 {
  position: absolute;
  top: calc(50% - 1916px);
  left: calc(50% - 777px);
  width: 85px;
  height: 72px;
  object-fit: cover;
}
.pngwing-1-icon1 {
  position: absolute;
  top: 656px;
  left: 85px;
  width: 90px;
  height: 60px;
  object-fit: cover;
}
.tool-free2 {
  position: absolute;
  top: 375px;
  left: calc(50% - 654px);
  letter-spacing: 0.02em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 331px;
  height: 86px;
}
.jl-abimanyu-no1 {
  top: 526px;
  left: calc(50% - 653px);
  white-space: pre-wrap;
  text-align: left;
  width: 330px;
  height: 86px;
}
.jl-abimanyu-no1,
.pemetaankampus-jateng1,
.pemetaankampusgmailcom1 {
  position: absolute;
  letter-spacing: 0.02em;
  font-weight: 600;
  display: inline-block;
}
.pemetaankampus-jateng1 {
  top: 783px;
  left: calc(50% - 654px);
  text-align: left;
  width: 330px;
  height: 86px;
}
.pemetaankampusgmailcom1 {
  top: 667px;
  left: calc(50% - 697px);
  text-decoration: underline;
  color: inherit;
  width: 357px;
  height: 33px;
}
.map-lokasi-icon1 {
  position: absolute;
  top: 593px;
  left: 964px;
  width: 715.7px;
  height: 456.8px;
  object-fit: cover;
}
.live-location1 {
  position: absolute;
  top: 535px;
  left: calc(50% + 140px);
  font-size: var(--font-size-49xl);
  letter-spacing: -0.02em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 428px;
  height: 80px;
}
.contact-child12 {
  position: relative;
  width: 1728px;
  height: 1117px;
}
.contact-child13 {
  position: absolute;
  top: 1199px;
  left: 142px;
  width: 382px;
  height: 48px;
  object-fit: cover;
}
.any-problems1 {
  position: absolute;
  top: 1185px;
  left: 161px;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.04em;
  color: var(--color-gainsboro-100);
  text-align: right;
}
.group-child236,
.group-child237 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-8xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
  width: 1374px;
  height: 1141px;
}
.group-child237 {
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 45.9px;
}
.send1 {
  position: absolute;
  top: 0.8px;
  left: 30px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 35.3px;
}
.group-child238 {
  position: absolute;
  top: 23px;
  left: 153px;
  max-height: 100%;
  width: 39px;
  object-fit: cover;
}
.rectangle-parent93 {
  position: absolute;
  top: 1034.6px;
  left: 1072px;
  width: 239px;
  height: 45.9px;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.group-child239 {
  position: absolute;
  top: 83.5px;
  left: 83px;
  border-radius: var(--br-11xl);
  background-color: var(--color-gainsboro-300);
  width: 1228px;
  height: 892.1px;
}
.e-mail1,
.name1,
.text1 {
  position: absolute;
  top: 153.9px;
  left: 156px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 110px;
  height: 54.4px;
}
.name1,
.text1 {
  top: 231.3px;
  width: 99px;
}
.text1 {
  top: 308.6px;
  left: 155px;
  width: 73px;
}
.group-child240,
.group-child241,
.group-child242 {
  position: absolute;
  top: 164.2px;
  left: 364px;
  border-radius: var(--br-20xl);
  background-color: var(--color-white);
  width: 879px;
  height: 49.8px;
}
.group-child241,
.group-child242 {
  top: 235.9px;
}
.group-child242 {
  top: 310.9px;
  height: 581.2px;
}
.rectangle-parent92 {
  position: absolute;
  top: 1297px;
  left: 177px;
  width: 1374px;
  height: 1141px;
  text-align: right;
  font-size: var(--font-size-26xl);
}
.image-30-icon1 {
  position: absolute;
  top: 773px;
  left: 99px;
  width: 68px;
  height: 68px;
  object-fit: cover;
}
.give-us-your1 {
  position: absolute;
  top: 1247px;
  left: 142px;
  font-size: var(--font-size-81xl);
  letter-spacing: -0.01em;
  line-height: 100%;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 849px;
}
.iqbal-ramadhan1,
.iqbalramadhangmailcom1,
.website-sangat-informatif1 {
  position: absolute;
  top: 1539px;
  left: calc(50% - 279px);
  letter-spacing: 0.02em;
  font-weight: 600;
  text-align: left;
  display: inline-block;
  width: 330px;
  height: 38px;
}
.iqbalramadhangmailcom1,
.website-sangat-informatif1 {
  top: 1467px;
}
.website-sangat-informatif1 {
  top: 1629px;
  width: 811px;
  height: 95px;
}
.contact13 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4584px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-6xl);
  color: var(--color-black);
  font-family: var(--font-saira-condensed);
}
