.image-1-icon4 {
  position: absolute;
  top: 126px;
  left: -44px;
  border-radius: var(--br-20xl);
  width: 2545px;
  height: 667px;
  object-fit: cover;
}
.fakultas-ilmu-komputer3 {
  position: absolute;
  top: 605px;
  left: 103px;
  font-size: var(--font-size-64xl);
  font-weight: 800;
  display: inline-block;
  width: 1610px;
  height: 142px;
}
.group-child314 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child315,
.group-child316 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child316 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact18,
.mitra14 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact18 {
  top: 285px;
  left: 1700px;
}
.vector-parent14 {
  position: absolute;
  top: 3250px;
  left: -637px;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
}
.group-child317,
.group-child318,
.group-child319,
.group-child320 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px -6px 3.4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child318,
.group-child319,
.group-child320 {
  left: 483px;
  box-shadow: 6px -5px 3.8px rgba(0, 0, 0, 0.25);
}
.group-child319,
.group-child320 {
  left: 966px;
  box-shadow: 9px -5px 4px rgba(0, 0, 0, 0.25);
}
.group-child320 {
  left: 1449px;
  box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.25);
}
.group-child321,
.more56 {
  position: absolute;
  top: 0;
  height: 46.1px;
}
.group-child321 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more56 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child322 {
  position: absolute;
  top: 23.1px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.rectangle-parent121 {
  position: absolute;
  top: 452px;
  left: 76px;
  width: 290px;
  height: 46.1px;
  cursor: pointer;
}
.group-child323 {
  position: absolute;
  top: 451.9px;
  left: 1708px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.group-child329,
.rectangle-parent122,
.rectangle-parent123 {
  position: absolute;
  top: 452px;
  left: 575px;
  width: 290px;
  height: 46.1px;
}
.group-child329,
.rectangle-parent123 {
  left: 1042px;
}
.group-child329 {
  top: 23.1px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent124 {
  position: absolute;
  top: 452px;
  left: 1561px;
  width: 290px;
  height: 46.1px;
}
.rectangle-parent120 {
  position: absolute;
  top: 2952px;
  left: 22px;
  width: 1892px;
  height: 550px;
  font-size: var(--font-size-11xl);
}
.beasiswa7,
.fasilitas7,
.more-info9,
.pendaftaran7 {
  position: absolute;
  top: 2974px;
  left: 0;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 438px;
  height: 70px;
}
.beasiswa7,
.fasilitas7,
.more-info9 {
  left: 445px;
}
.fasilitas7,
.more-info9 {
  left: 921px;
}
.more-info9 {
  left: 1437px;
}
.image-25-icon3,
.logo-fik-45 {
  position: absolute;
  top: 204px;
  left: 730px;
  width: 347px;
  height: 364px;
  object-fit: cover;
}
.image-25-icon3 {
  top: 885px;
  left: 992px;
  border-radius: var(--br-54xl);
  width: 1088px;
  height: 712px;
}
.fik-udinus-child,
.toolbar-child10 {
  position: absolute;
  top: 3060px;
  left: 1531px;
  width: 270px;
  height: 270px;
  object-fit: cover;
}
.toolbar-child10 {
  top: 69px;
  left: 0;
  width: 1782px;
  height: 101px;
}
.toolbar-child11,
.toolbar-child12 {
  position: absolute;
  top: 34px;
  left: 24px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.toolbar-child12 {
  top: 0;
  left: 44px;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan14 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus14 {
  position: absolute;
  top: 27px;
  left: 1397px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
}
.search-icon13 {
  position: absolute;
  top: 34px;
  left: 1225px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.toolbar4 {
  position: absolute;
  top: 0;
  left: -44px;
  width: 1782px;
  height: 170px;
  font-size: var(--font-size-26xl);
}
.menu-icon22 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}
.group-child330,
.group-child331 {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 248px;
}
.group-child330 {
  top: 0;
  left: 3px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  height: 57px;
}
.group-child331 {
  top: 3px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 56px;
}
.selengkapnya15 {
  position: absolute;
  top: 5.1px;
  left: 27px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 58px;
}
.rectangle-parent125 {
  position: absolute;
  top: 1398px;
  left: 100px;
  width: 268px;
  height: 63.1px;
  text-align: left;
  font-size: var(--font-size-14xl);
}
.fik-udinus-item {
  position: absolute;
  top: 871px;
  left: 100px;
  background-color: var(--color-brown);
  width: 172px;
  height: 68px;
}
.humas-udinus13 {
  text-decoration: underline;
}
.humas-udinus12 {
  color: inherit;
}
.fakultas-ilmu-komputer4,
.oleh-humas-udinus-container6 {
  position: absolute;
  top: 1036px;
  left: 100px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-gray-600);
  text-align: left;
}
.fakultas-ilmu-komputer4 {
  top: 919px;
  font-size: var(--font-size-46xl);
  font-weight: 600;
  color: var(--color-black);
}
.fik-udinus-inner {
  position: absolute;
  top: 1021px;
  left: 108px;
  background-color: var(--color-gray-200);
  width: 959px;
  height: 5px;
}
.fik-udinus-child1 {
  position: absolute;
  top: 1479px;
  left: 491px;
  width: 174px;
  height: 13px;
  object-fit: cover;
}
.material-symbolslist-alt-outl-icon7 {
  top: 3066px;
  left: 113px;
  width: 253px;
  height: 253px;
}
.fluentbuilding-32-regular-icon7,
.material-symbolslist-alt-outl-icon7,
.vector-icon31 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon31 {
  height: 5.08%;
  width: 12.5%;
  top: 75.2%;
  right: 51.74%;
  bottom: 19.72%;
  left: 35.76%;
  max-width: 100%;
  max-height: 100%;
}
.fluentbuilding-32-regular-icon7 {
  top: 3044px;
  left: 1080px;
  width: 258px;
  height: 258px;
}
.dinas-pendidikan-dan-kebudayaa-icon14 {
  position: absolute;
  top: 3690px;
  left: 98px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email14 {
  margin: 0;
}
.email-perguruantinggijateng-container14 {
  position: absolute;
  top: 3672px;
  left: 989px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.menjadi-pilihan-utama1 {
  position: absolute;
  top: 1093px;
  left: 106px;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 824px;
}
.image-24-icon1 {
  position: absolute;
  top: 1817px;
  left: -40px;
  width: 1809px;
  height: 842px;
  object-fit: cover;
}
.group-child332 {
  position: absolute;
  top: 2px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-brown);
  box-shadow: 7px -6px 6.1px rgba(0, 0, 0, 0.25);
  width: 487px;
  height: 99px;
}
.program-studi1 {
  position: absolute;
  top: 0;
  left: 25px;
  letter-spacing: 0.04em;
}
.info3,
.rectangle-parent126 {
  position: absolute;
  color: var(--color-lavender);
  text-align: left;
}
.rectangle-parent126 {
  top: 1754px;
  left: 640px;
  width: 487px;
  height: 110px;
  font-size: var(--font-size-51xl);
}
.info3 {
  top: 865px;
  left: 132px;
  font-size: var(--font-size-37xl);
  letter-spacing: 0.04em;
}
.group-child333 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 343px;
  height: 60px;
}
.back-to-page3 {
  position: absolute;
  top: 7px;
  left: 79px;
  font-weight: 600;
  display: inline-block;
  width: 189px;
  height: 46px;
}
.group-child334,
.group-child335 {
  position: absolute;
  top: 18px;
  left: 290px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child335 {
  left: 53px;
}
.home9,
.rectangle-parent127 {
  position: absolute;
  top: 2776px;
  left: 1370px;
  width: 343px;
  height: 60px;
  font-size: var(--font-size-11xl);
}
.home9 {
  top: 38px;
  left: 56px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
  cursor: pointer;
}
.fik-udinus {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4097px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--color-white);
  font-family: var(--font-saira-condensed);
}
