.bandicam-2018-05-01-09-14-21-52,
.map-1-child,
.map-1-item {
  position: absolute;
  top: 141px;
  left: -13px;
  width: 1758px;
  height: 711px;
  object-fit: cover;
}
.map-1-child,
.map-1-item {
  top: 47px;
  left: -43px;
  width: 1782px;
  height: 133px;
}
.map-1-item {
  top: 12px;
  left: -19px;
  width: 1753px;
  height: 150px;
  object-fit: contain;
}
.map-1-inner {
  top: -22px;
  left: 0;
  width: 1728px;
  height: 163px;
}
.map-1-inner,
.menu-icon25,
.search-icon15 {
  position: absolute;
  object-fit: cover;
}
.menu-icon25 {
  top: 50px;
  left: 46px;
  width: 69px;
  height: 37px;
  cursor: pointer;
}
.search-icon15 {
  top: 33px;
  left: 1184px;
  width: 219px;
  height: 86px;
}
.map-1-child1 {
  position: absolute;
  top: 1383px;
  left: -55px;
  background-color: var(--color-brown);
  width: 470px;
  height: 118px;
}
.about-us2 {
  position: absolute;
  top: 1394px;
  left: 52px;
  font-size: var(--font-size-61xl);
  font-weight: 600;
  color: var(--color-gainsboro-200);
  display: inline-block;
  width: 358px;
  height: 126px;
}
.map-1-child2 {
  position: absolute;
  top: 786px;
  left: 4px;
  border-radius: var(--br-8xl);
  background-color: var(--color-peachpuff);
  width: 1729px;
  height: 356px;
}
.map-1-child3,
.map-1-child4 {
  position: absolute;
  top: 980px;
  left: 0;
  width: 1733px;
  height: 205px;
  object-fit: cover;
}
.map-1-child4 {
  top: 775px;
  width: 1731px;
  height: 161px;
  object-fit: contain;
}
.map-1-child5,
.map-1-child6,
.map-1-child7,
.map-1-child8 {
  position: absolute;
  top: 812px;
  left: 4px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 447px;
}
.map-1-child6,
.map-1-child7,
.map-1-child8 {
  left: 487px;
  box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
}
.map-1-child7,
.map-1-child8 {
  left: 970px;
}
.map-1-child8 {
  left: 1453px;
  box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
}
.group-child371,
.more64 {
  position: absolute;
  top: 0;
  height: 50px;
}
.group-child371 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more64 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child372 {
  position: absolute;
  top: 25px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.rectangle-parent147 {
  left: 80px;
  cursor: pointer;
}
.rectangle-parent147,
.rectangle-parent148,
.rectangle-parent149,
.rectangle-parent150 {
  position: absolute;
  top: 1167px;
  width: 290px;
  height: 50px;
  color: var(--color-white);
}
.rectangle-parent148 {
  left: 564px;
  cursor: pointer;
}
.rectangle-parent149,
.rectangle-parent150 {
  left: 1046px;
}
.rectangle-parent150 {
  left: 1529px;
}
.chart5,
.contact20,
.more-info11,
.news3 {
  position: absolute;
  top: 828px;
  left: -98px;
  font-size: var(--font-size-23xl);
  font-weight: 500;
  display: inline-block;
  width: 438px;
  height: 70px;
}
.chart5,
.contact20,
.more-info11 {
  top: 821px;
  left: 410px;
}
.chart5,
.more-info11 {
  left: 877px;
}
.more-info11 {
  top: 815px;
  left: 1382px;
}
.th-13-12 {
  position: absolute;
  top: 1358px;
  left: 709px;
  border-radius: var(--br-21xl);
  width: 1125px;
  height: 981px;
  object-fit: cover;
}
.bertujuan-untuk-dapat2 {
  position: absolute;
  top: 1551px;
  left: 105px;
  font-size: var(--font-size-45xl);
  line-height: 129.86%;
  text-align: left;
  display: inline-block;
  width: 645px;
  height: 512px;
}
.group-child379 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child380,
.group-child381 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child381 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact21,
.mitra16 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact21 {
  top: 285px;
  left: 1700px;
}
.vector-parent16 {
  position: absolute;
  top: 3241px;
  left: -642px;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.th-13-22,
.th-13-32 {
  position: absolute;
  top: 1404px;
  left: 752px;
  border-radius: var(--br-6xl);
  width: 1125px;
  height: 981px;
  object-fit: cover;
}
.th-13-32 {
  top: 1394px;
  left: 776.2px;
  border-radius: var(--br-13xl);
}
.map-1-child9 {
  position: absolute;
  top: 2786px;
  left: 210px;
  border-radius: var(--br-10xl);
  background-color: var(--color-gray-400);
  box-shadow: 9px -6px 4px rgba(0, 0, 0, 0.25);
  width: 1187px;
  height: 708px;
}
.universitas-diponegoro5 {
  position: absolute;
  top: 2946px;
  left: 662px;
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}
.universitas-islam-negeri3,
.universitas-jendral-soedirman3,
.universitas-negeri-semarang5,
.universitas-sebelas-maret4 {
  position: absolute;
  top: 3055px;
  left: 662px;
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  text-align: left;
}
.universitas-islam-negeri3,
.universitas-jendral-soedirman3,
.universitas-negeri-semarang5 {
  top: 3162px;
}
.universitas-islam-negeri3,
.universitas-negeri-semarang5 {
  top: 3255px;
}
.universitas-islam-negeri3 {
  top: 3364px;
  display: inline-block;
  width: 534px;
}
.unnes-1-icon2,
.uns-1-icon2,
.unsoede-1-icon2 {
  position: absolute;
  top: 3152px;
  left: 470px;
  width: 89px;
  height: 89px;
  object-fit: cover;
}
.unnes-1-icon2,
.uns-1-icon2 {
  top: 3255px;
  left: 480px;
  width: 72px;
  height: 70px;
}
.uns-1-icon2 {
  top: 3046px;
  left: 474px;
  width: 89px;
  height: 87px;
}
.pemetaan16 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus16 {
  position: absolute;
  top: 33px;
  left: 1371px;
  font-size: var(--font-size-26xl);
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
  color: var(--color-white);
}
.group-child382 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back12 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child383,
.group-child384 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child384 {
  left: 69px;
}
.rectangle-parent151 {
  position: absolute;
  top: 2044px;
  left: 225px;
  width: 239px;
  height: 60px;
  color: var(--color-white);
}
.vector-icon33,
.vector-icon34 {
  position: absolute;
  height: 4.48%;
  width: 12.21%;
  top: 22.11%;
  right: 24.71%;
  bottom: 73.41%;
  left: 63.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon34 {
  height: 3.62%;
  width: 12.85%;
  top: 22.9%;
  right: 80.32%;
  bottom: 73.48%;
  left: 6.83%;
}
.icoutline-chat-icon7,
.mdicontact-icon2 {
  position: absolute;
  top: 885px;
  left: 607px;
  width: 202px;
  height: 202px;
  overflow: hidden;
  object-fit: cover;
}
.icoutline-chat-icon7 {
  top: 893px;
  left: 1516px;
  width: 248px;
  height: 248px;
}
.group-child385,
.group-child386 {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
}
.group-child385 {
  top: 11px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  width: 175px;
  height: 57px;
}
.group-child386 {
  top: 14px;
  background-color: var(--color-gray-200);
  width: 172.9px;
  height: 56px;
}
.div5,
.tambah2 {
  position: absolute;
  top: 20px;
  left: 16px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 115px;
  height: 58px;
}
.div5 {
  top: 0;
  left: 136px;
  font-size: var(--font-size-34xl);
  width: 18px;
  height: 45px;
}
.rectangle-parent152 {
  position: absolute;
  top: 200px;
  left: 1529px;
  width: 175px;
  height: 78px;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
}
.map-1-child10 {
  position: absolute;
  top: 2497px;
  left: 72px;
  background-color: var(--color-brown);
  width: 362px;
  height: 114px;
}
.chart6,
.range-perguruan-tinggi5,
.range-perguruan-tinggi6 {
  position: absolute;
  left: 112px;
  letter-spacing: 0.04em;
  font-weight: 600;
  text-align: left;
}
.chart6 {
  top: 2497px;
  font-size: var(--font-size-58xl);
  color: var(--color-gainsboro-200);
}
.range-perguruan-tinggi5,
.range-perguruan-tinggi6 {
  top: 2650px;
  font-size: var(--font-size-41xl);
  display: inline-block;
  width: 1384px;
}
.range-perguruan-tinggi6 {
  top: 2831px;
  left: 340px;
  font-size: var(--font-size-21xl);
  width: 1137px;
}
.p17 {
  margin: 0;
}
.div6 {
  position: absolute;
  top: 2917px;
  left: 407px;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  text-align: left;
}
.uin-wali-12,
.undip-1-icon2 {
  position: absolute;
  object-fit: cover;
}
.undip-1-icon2 {
  bottom: 1066px;
  left: 474px;
  width: 85px;
  height: 91px;
}
.uin-wali-12 {
  top: 3345px;
  left: 485px;
  width: 63px;
  height: 94px;
}
.dinas-pendidikan-dan-kebudayaa-icon16 {
  position: absolute;
  top: 3669px;
  left: 118px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email-perguruantinggijateng-container16 {
  position: absolute;
  top: 3676px;
  left: 1009px;
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.subtract-1-icon1 {
  position: absolute;
  top: 302px;
  left: 1246px;
  width: 59px;
  height: 103px;
  object-fit: cover;
}
.subtract-2-icon1,
.subtract-6-icon1,
.subtract-7-icon,
.subtract-8-icon {
  position: absolute;
  top: 394px;
  left: 1558px;
  width: 59px;
  height: 103px;
  object-fit: cover;
}
.subtract-2-icon1,
.subtract-6-icon1,
.subtract-8-icon {
  top: 337px;
  left: 578px;
}
.subtract-2-icon1,
.subtract-6-icon1 {
  top: 251px;
  left: 1516px;
}
.subtract-2-icon1 {
  top: 337px;
  left: 213px;
}
.subtract-3-icon1 {
  top: 405px;
  left: 311px;
}
.subtract-3-icon1,
.subtract-4-icon1,
.subtract-5-icon1 {
  position: absolute;
  width: 59px;
  height: 103px;
  object-fit: cover;
}
.subtract-4-icon1 {
  top: 417px;
  left: 1017px;
  cursor: pointer;
}
.subtract-5-icon1 {
  top: 180px;
  left: 1162px;
}
.home11 {
  position: absolute;
  top: 32px;
  left: 53px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
}
.map-1 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4088px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-saira-condensed);
}
