.bandicam-2018-05-01-09-14-21-53,
.map-3-child,
.map-3-item {
  position: absolute;
  top: 141px;
  left: -13px;
  width: 1758px;
  height: 711px;
  object-fit: cover;
}
.map-3-child,
.map-3-item {
  top: 47px;
  left: -43px;
  width: 1782px;
  height: 133px;
}
.map-3-item {
  top: 12px;
  left: -19px;
  width: 1753px;
  height: 150px;
  object-fit: contain;
}
.map-3-inner {
  top: -22px;
  left: 0;
  width: 1728px;
  height: 163px;
}
.map-3-inner,
.menu-icon26,
.search-icon16 {
  position: absolute;
  object-fit: cover;
}
.menu-icon26 {
  top: 50px;
  left: 46px;
  width: 69px;
  height: 37px;
  cursor: pointer;
}
.search-icon16 {
  top: 42px;
  left: 1195px;
  width: 219px;
  height: 86px;
}
.map-3-child1 {
  position: absolute;
  top: 1383px;
  left: -55px;
  background-color: var(--color-brown);
  width: 470px;
  height: 118px;
}
.about-us3 {
  position: absolute;
  top: 1394px;
  left: 52px;
  font-size: var(--font-size-61xl);
  font-weight: 600;
  color: var(--color-gainsboro-200);
  display: inline-block;
  width: 358px;
  height: 126px;
}
.map-3-child2 {
  position: absolute;
  top: 786px;
  left: 4px;
  border-radius: var(--br-8xl);
  background-color: var(--color-peachpuff);
  width: 1729px;
  height: 356px;
}
.map-3-child3,
.map-3-child4 {
  position: absolute;
  top: 980px;
  left: 0;
  width: 1733px;
  height: 205px;
  object-fit: cover;
}
.map-3-child4 {
  top: 775px;
  width: 1731px;
  height: 161px;
  object-fit: contain;
}
.map-3-child5,
.map-3-child6,
.map-3-child7,
.map-3-child8 {
  position: absolute;
  top: 812px;
  left: 4px;
  border-radius: var(--br-8xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px 5px 4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 447px;
}
.map-3-child6,
.map-3-child7,
.map-3-child8 {
  left: 487px;
  box-shadow: 6px 7px 4px rgba(0, 0, 0, 0.25);
}
.map-3-child7,
.map-3-child8 {
  left: 970px;
}
.map-3-child8 {
  left: 1453px;
  box-shadow: 10px 8px 4px rgba(0, 0, 0, 0.25);
}
.group-child387,
.more68 {
  position: absolute;
  top: 0;
  height: 50px;
}
.group-child387 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more68 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child388 {
  position: absolute;
  top: 25px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.rectangle-parent153 {
  left: 80px;
  cursor: pointer;
}
.rectangle-parent153,
.rectangle-parent154,
.rectangle-parent155,
.rectangle-parent156 {
  position: absolute;
  top: 1167px;
  width: 290px;
  height: 50px;
  color: var(--color-white);
}
.rectangle-parent154 {
  left: 564px;
  cursor: pointer;
}
.rectangle-parent155,
.rectangle-parent156 {
  left: 1046px;
}
.rectangle-parent156 {
  left: 1529px;
}
.chart7,
.contact22,
.more-info12,
.news4 {
  position: absolute;
  top: 828px;
  left: -98px;
  font-size: var(--font-size-23xl);
  font-weight: 500;
  display: inline-block;
  width: 438px;
  height: 70px;
}
.chart7,
.contact22,
.more-info12 {
  top: 821px;
  left: 410px;
}
.chart7,
.more-info12 {
  left: 877px;
}
.more-info12 {
  top: 815px;
  left: 1382px;
}
.th-13-13 {
  position: absolute;
  top: 1358px;
  left: 709px;
  border-radius: var(--br-21xl);
  width: 1125px;
  height: 981px;
  object-fit: cover;
}
.bertujuan-untuk-dapat3 {
  position: absolute;
  top: 1551px;
  left: 105px;
  font-size: var(--font-size-45xl);
  line-height: 129.86%;
  text-align: left;
  display: inline-block;
  width: 645px;
  height: 512px;
}
.group-child395 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child396,
.group-child397 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child397 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact23,
.mitra17 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact23 {
  top: 285px;
  left: 1700px;
}
.vector-parent17 {
  position: absolute;
  top: 3241px;
  left: -642px;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.th-13-23,
.th-13-33 {
  position: absolute;
  top: 1404px;
  left: 752px;
  border-radius: var(--br-6xl);
  width: 1125px;
  height: 981px;
  object-fit: cover;
}
.th-13-33 {
  top: 1394px;
  left: 776.2px;
  border-radius: var(--br-13xl);
}
.map-3-child9 {
  position: absolute;
  top: 2786px;
  left: 210px;
  border-radius: var(--br-10xl);
  background-color: var(--color-gray-400);
  box-shadow: 9px -6px 4px rgba(0, 0, 0, 0.25);
  width: 1187px;
  height: 708px;
}
.universitas-diponegoro6 {
  position: absolute;
  top: 2946px;
  left: 662px;
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  text-align: left;
  cursor: pointer;
}
.universitas-islam-negeri4,
.universitas-jendral-soedirman4,
.universitas-negeri-semarang6,
.universitas-sebelas-maret5 {
  position: absolute;
  top: 3055px;
  left: 662px;
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  text-align: left;
}
.universitas-islam-negeri4,
.universitas-jendral-soedirman4,
.universitas-negeri-semarang6 {
  top: 3162px;
}
.universitas-islam-negeri4,
.universitas-negeri-semarang6 {
  top: 3255px;
}
.universitas-islam-negeri4 {
  top: 3364px;
  display: inline-block;
  width: 534px;
}
.unnes-1-icon3,
.uns-1-icon3,
.unsoede-1-icon3 {
  position: absolute;
  top: 3152px;
  left: 470px;
  width: 89px;
  height: 89px;
  object-fit: cover;
}
.unnes-1-icon3,
.uns-1-icon3 {
  top: 3255px;
  left: 480px;
  width: 72px;
  height: 70px;
}
.uns-1-icon3 {
  top: 3046px;
  left: 474px;
  width: 89px;
  height: 87px;
}
.subtract-icon8 {
  position: relative;
  width: 53.7px;
  height: 93.2px;
  object-fit: cover;
}
.subtract-icon10,
.subtract-icon11,
.subtract-icon9 {
  position: relative;
  width: 56px;
  height: 97.3px;
  object-fit: cover;
}
.subtract-icon10,
.subtract-icon11 {
  width: 52.5px;
  height: 91.1px;
}
.subtract-icon11 {
  width: 58.8px;
  height: 102.4px;
}
.pemetaan17 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus17 {
  position: absolute;
  top: 33px;
  left: 1371px;
  font-size: var(--font-size-26xl);
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
  color: var(--color-white);
}
.kampus-unggul-inner {
  position: absolute;
  top: 0;
  left: 2px;
  border-radius: var(--br-30xl);
  width: 437px;
  height: 328px;
  object-fit: cover;
}
.kampus-unggul-child1 {
  position: absolute;
  top: 101.2px;
  left: 34.5px;
  border-radius: var(--br-2xs);
  background-color: var(--color-gray-500);
  box-shadow: 0 1px 8.6px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 173.2px;
  height: 49.9px;
}
.udinus3 {
  position: absolute;
  top: 0;
  left: 36.1px;
  font-weight: 600;
  display: inline-block;
  width: 106.7px;
  height: 53.4px;
}
.logo-fik-46 {
  position: absolute;
  top: 7.6px;
  left: 0;
  width: 36.9px;
  height: 39px;
  object-fit: cover;
}
.ugm1 {
  position: absolute;
  top: 99px;
  left: 46.8px;
  width: 142.8px;
  height: 53.4px;
  cursor: pointer;
  font-size: var(--font-size-15xl);
}
.undip4,
.unisula1,
.unnes1,
.usm1 {
  position: absolute;
  top: 152.4px;
  left: 82.9px;
  display: inline-block;
  width: 106.7px;
  height: 53.4px;
}
.undip4,
.unisula1,
.usm1 {
  top: 204.1px;
}
.unisula1,
.usm1 {
  top: 151.1px;
  left: 286.7px;
}
.usm1 {
  top: 99px;
  left: 272.3px;
  width: 134px;
}
.image-11-icon1,
.image-12-icon1,
.image-14-icon1 {
  position: absolute;
  top: 158.3px;
  left: 56.4px;
  width: 31.3px;
  height: 44.1px;
  object-fit: cover;
}
.image-12-icon1,
.image-14-icon1 {
  top: 204.1px;
  left: 49.2px;
  width: 46.5px;
  height: 49.2px;
}
.image-14-icon1 {
  top: 102.4px;
  left: 269.9px;
  width: 38.5px;
  height: 47.5px;
}
.kampus-unggul3 {
  position: absolute;
  top: 10px;
  left: 0;
  font-size: var(--font-size-37xl);
  font-weight: 600;
  display: inline-block;
  width: 438.9px;
  height: 88.1px;
}
.image-13-icon1,
.kampus-unggul2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 439px;
  height: 328px;
}
.image-13-icon1 {
  top: 158.7px;
  left: 240.2px;
  width: 38.5px;
  height: 38.1px;
  object-fit: cover;
}
.kampus-unggul-group {
  position: absolute;
  top: 201px;
  left: 474px;
  width: 439px;
  height: 328px;
  cursor: pointer;
  font-size: var(--font-size-14xl);
}
.group-child398 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back13 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child399,
.group-child400 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child400 {
  left: 69px;
}
.rectangle-parent157 {
  position: absolute;
  top: 2044px;
  left: 225px;
  width: 239px;
  height: 60px;
  color: var(--color-white);
}
.vector-icon35,
.vector-icon36 {
  position: absolute;
  height: 4.48%;
  width: 12.21%;
  top: 22.11%;
  right: 24.71%;
  bottom: 73.41%;
  left: 63.08%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.vector-icon36 {
  height: 3.62%;
  width: 12.85%;
  top: 22.9%;
  right: 80.32%;
  bottom: 73.48%;
  left: 6.83%;
}
.icoutline-chat-icon8,
.mdicontact-icon3 {
  position: absolute;
  top: 885px;
  left: 607px;
  width: 202px;
  height: 202px;
  overflow: hidden;
  object-fit: cover;
}
.icoutline-chat-icon8 {
  top: 893px;
  left: 1516px;
  width: 248px;
  height: 248px;
}
.group-child401,
.group-child402 {
  position: absolute;
  left: 0;
  border-radius: var(--br-3xs);
}
.group-child401 {
  top: 11px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  width: 175px;
  height: 57px;
}
.group-child402 {
  top: 14px;
  background-color: var(--color-gray-200);
  width: 172.9px;
  height: 56px;
}
.div7,
.tambah3 {
  position: absolute;
  top: 20px;
  left: 16px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 115px;
  height: 58px;
}
.div7 {
  top: 0;
  left: 136px;
  font-size: var(--font-size-34xl);
  width: 18px;
  height: 45px;
}
.rectangle-parent158 {
  position: absolute;
  top: 200px;
  left: 1529px;
  width: 175px;
  height: 78px;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
}
.map-3-child10 {
  position: absolute;
  top: 2449px;
  left: 80px;
  background-color: var(--color-brown);
  width: 362px;
  height: 114px;
}
.chart8,
.range-perguruan-tinggi7,
.range-perguruan-tinggi8 {
  position: absolute;
  letter-spacing: 0.04em;
  font-weight: 600;
  text-align: left;
}
.chart8 {
  top: 2451px;
  left: 104px;
  font-size: var(--font-size-58xl);
  color: var(--color-gainsboro-200);
}
.range-perguruan-tinggi7,
.range-perguruan-tinggi8 {
  top: 2611px;
  left: 112px;
  font-size: var(--font-size-41xl);
  display: inline-block;
  width: 1384px;
}
.range-perguruan-tinggi8 {
  top: 2831px;
  left: 340px;
  font-size: var(--font-size-21xl);
  width: 1137px;
}
.p22 {
  margin: 0;
}
.div8 {
  position: absolute;
  top: 2917px;
  left: 407px;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  text-align: left;
}
.uin-wali-13,
.undip-1-icon3 {
  position: absolute;
  object-fit: cover;
}
.undip-1-icon3 {
  bottom: 1066px;
  left: 474px;
  width: 85px;
  height: 91px;
}
.uin-wali-13 {
  top: 3345px;
  left: 485px;
  width: 63px;
  height: 94px;
}
.dinas-pendidikan-dan-kebudayaa-icon17 {
  position: absolute;
  top: 3669px;
  left: 118px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email-perguruantinggijateng-container17 {
  position: absolute;
  top: 3676px;
  left: 1009px;
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.home12 {
  position: absolute;
  top: 34px;
  left: 63px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
  cursor: pointer;
}
.map-3 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4088px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-11xl);
  color: var(--color-black);
  font-family: var(--font-saira-condensed);
}
