.image-1-icon3 {
  position: absolute;
  top: 126px;
  left: -44px;
  border-radius: var(--br-20xl);
  width: 2545px;
  height: 667px;
  object-fit: cover;
}
.pendaftaran-mahasiswa-baru1 {
  position: absolute;
  top: 605px;
  left: 103px;
  font-size: var(--font-size-64xl);
  font-weight: 800;
  display: inline-block;
  width: 1610px;
  height: 142px;
}
.group-child285 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child286,
.group-child287 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child287 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact17,
.mitra13 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact17 {
  top: 285px;
  left: 1700px;
}
.vector-parent12 {
  position: absolute;
  top: 3250px;
  left: -637px;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
}
.group-child288,
.group-child289,
.group-child290,
.group-child291 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px -6px 3.4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child289,
.group-child290,
.group-child291 {
  left: 483px;
  box-shadow: 6px -5px 3.8px rgba(0, 0, 0, 0.25);
}
.group-child290,
.group-child291 {
  left: 966px;
  box-shadow: 9px -5px 4px rgba(0, 0, 0, 0.25);
}
.group-child291 {
  left: 1449px;
  box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.25);
}
.group-child292,
.more52 {
  position: absolute;
  top: 0;
  height: 46.1px;
}
.group-child292 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more52 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child293 {
  position: absolute;
  top: 23.1px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.group-child294,
.rectangle-parent112 {
  position: absolute;
  top: 452px;
  left: 76px;
  width: 290px;
  height: 46.1px;
}
.group-child294 {
  top: 451.9px;
  left: 1708px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.group-child300,
.rectangle-parent113,
.rectangle-parent114 {
  position: absolute;
  top: 452px;
  left: 575px;
  width: 290px;
  height: 46.1px;
}
.group-child300,
.rectangle-parent114 {
  left: 1042px;
}
.group-child300 {
  top: 23.1px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent115 {
  position: absolute;
  top: 452px;
  left: 1561px;
  width: 290px;
  height: 46.1px;
}
.rectangle-parent111 {
  position: absolute;
  top: 2952px;
  left: 22px;
  width: 1892px;
  height: 550px;
  font-size: var(--font-size-11xl);
}
.beasiswa6,
.fasilitas6,
.more-info8,
.pendaftaran6 {
  position: absolute;
  top: 2974px;
  left: 0;
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 438px;
  height: 70px;
}
.beasiswa6,
.fasilitas6,
.more-info8 {
  left: 445px;
}
.fasilitas6,
.more-info8 {
  left: 921px;
}
.more-info8 {
  left: 1437px;
}
.image-25-icon2,
.logo-fik-44 {
  position: absolute;
  top: 204px;
  left: 730px;
  width: 347px;
  height: 364px;
  object-fit: cover;
}
.image-25-icon2 {
  top: 885px;
  left: 992px;
  border-radius: var(--br-54xl);
  width: 1088px;
  height: 712px;
}
.group-child301,
.pmdk-udinus-child {
  position: absolute;
  top: 3060px;
  left: 1531px;
  width: 270px;
  height: 270px;
  object-fit: cover;
}
.group-child301 {
  top: 69px;
  left: 0;
  width: 1782px;
  height: 101px;
}
.group-child302,
.group-child303 {
  position: absolute;
  top: 34px;
  left: 24px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.group-child303 {
  top: 0;
  left: 44px;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan13 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus13 {
  position: absolute;
  top: 27px;
  left: 1397px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
}
.search-icon12 {
  position: absolute;
  top: 34px;
  left: 1225px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.vector-parent13 {
  position: absolute;
  top: 0;
  left: -44px;
  width: 1782px;
  height: 170px;
  font-size: var(--font-size-26xl);
}
.group-child304 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 343px;
  height: 60px;
}
.back-to-page2 {
  position: absolute;
  top: 7px;
  left: 79px;
  font-weight: 600;
  display: inline-block;
  width: 189px;
  height: 46px;
}
.group-child305,
.group-child306 {
  position: absolute;
  top: 18px;
  left: 290px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child306 {
  left: 53px;
}
.rectangle-parent116 {
  position: absolute;
  top: 2770px;
  left: 1306px;
  width: 343px;
  height: 60px;
  font-size: var(--font-size-11xl);
}
.menu-icon21 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}
.group-child307,
.group-child308 {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 248px;
}
.group-child307 {
  top: 0;
  left: 3px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  height: 57px;
}
.group-child308 {
  top: 3px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 56px;
}
.selengkapnya14 {
  position: absolute;
  top: 5.1px;
  left: 27px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 58px;
}
.rectangle-parent117 {
  position: absolute;
  top: 1398px;
  left: 100px;
  width: 268px;
  height: 63.1px;
  text-align: left;
  font-size: var(--font-size-14xl);
}
.pmdk-udinus-item {
  position: absolute;
  top: 871px;
  left: 100px;
  background-color: var(--color-brown);
  width: 172px;
  height: 68px;
}
.humas-udinus11 {
  text-decoration: underline;
}
.humas-udinus10 {
  color: inherit;
}
.oleh-humas-udinus-container5,
.pendaftaran-pmdk1 {
  position: absolute;
  top: 1036px;
  left: 100px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-gray-600);
  text-align: left;
}
.pendaftaran-pmdk1 {
  top: 919px;
  font-size: var(--font-size-46xl);
  font-weight: 600;
  color: var(--color-black);
}
.pmdk-udinus-inner {
  position: absolute;
  top: 1021px;
  left: 108px;
  background-color: var(--color-gray-200);
  width: 959px;
  height: 5px;
}
.pmdk-udinus-child1 {
  position: absolute;
  top: 1479px;
  left: 491px;
  width: 174px;
  height: 13px;
  object-fit: cover;
}
.material-symbolslist-alt-outl-icon6 {
  top: 3066px;
  left: 113px;
  width: 253px;
  height: 253px;
}
.fluentbuilding-32-regular-icon6,
.material-symbolslist-alt-outl-icon6,
.vector-icon30 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon30 {
  height: 5.08%;
  width: 12.5%;
  top: 75.2%;
  right: 51.74%;
  bottom: 19.72%;
  left: 35.76%;
  max-width: 100%;
  max-height: 100%;
}
.fluentbuilding-32-regular-icon6 {
  top: 3044px;
  left: 1080px;
  width: 258px;
  height: 258px;
}
.dinas-pendidikan-dan-kebudayaa-icon13 {
  position: absolute;
  top: 3690px;
  left: 98px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email13 {
  margin: 0;
}
.email-perguruantinggijateng-container13 {
  position: absolute;
  top: 3672px;
  left: 989px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.info2,
.jalur-pmdk-merupakan1 {
  position: absolute;
  letter-spacing: 0.04em;
  text-align: left;
}
.jalur-pmdk-merupakan1 {
  top: 1093px;
  left: 106px;
  font-size: var(--font-size-8xl);
  font-weight: 500;
  color: var(--color-black);
  display: inline-block;
  width: 824px;
}
.info2 {
  top: 865px;
  left: 132px;
  font-size: var(--font-size-37xl);
  color: var(--color-lavender);
}
.screenshot-96-11,
.screenshot-96-21 {
  position: absolute;
  left: 31px;
  border-radius: var(--br-5xl);
  width: 1667px;
}
.screenshot-96-11 {
  top: 1667px;
  height: 442px;
  object-fit: cover;
}
.screenshot-96-21 {
  top: 2190px;
  background-color: var(--color-darkslateblue);
  height: 472px;
}
.group-child309,
.pmdk-udinus-child2 {
  position: absolute;
  top: 2274px;
  left: 173px;
  border-radius: var(--br-14xl);
  background-color: var(--color-white);
  width: 1382px;
  height: 335px;
}
.group-child309 {
  top: 2px;
  left: 0;
  border-radius: var(--br-5xs);
  background-color: var(--color-brown);
  box-shadow: 7px -6px 6.1px rgba(0, 0, 0, 0.25);
  width: 735px;
  height: 123px;
}
.alur-pendaftaran1 {
  position: absolute;
  top: 0;
  left: 30.9px;
  letter-spacing: 0.04em;
  display: inline-block;
  width: 780.1px;
  height: 136px;
}
.rectangle-parent118 {
  position: absolute;
  top: 2145px;
  left: 61px;
  width: 811.1px;
  height: 136px;
  text-align: left;
  font-size: var(--font-size-63xl);
  color: var(--color-lavender);
}
.group-child310 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 1022px;
  height: 96px;
}
.alih-jenjang1,
.pindahan1 {
  position: absolute;
  top: 13px;
  left: 493px;
  font-weight: 600;
  display: inline-block;
  width: 287.1px;
  height: 39px;
}
.pindahan1 {
  left: 748px;
}
.group-child311 {
  position: absolute;
  top: 19.5px;
  left: 779.6px;
  border-right: 1px solid var(--color-white);
  box-sizing: border-box;
  width: 1px;
  height: 55px;
}
.group-child312 {
  position: absolute;
  top: 20px;
  left: 480px;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
  object-fit: contain;
}
.pmdk1,
.reguler1 {
  position: absolute;
  top: 13px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 211px;
  height: 51px;
}
.reguler1 {
  left: 238px;
  width: 221px;
  height: 39px;
}
.group-child313 {
  position: absolute;
  top: 20px;
  left: 211px;
  max-width: 100%;
  overflow: hidden;
  height: 54px;
  object-fit: contain;
}
.group-parent13,
.pmdk-udinus-inner1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1035.1px;
  height: 96px;
}
.pmdk-udinus-inner1 {
  top: 2704px;
  left: 40px;
  font-size: var(--font-size-26xl);
}
.peserta-membuat-akun1 {
  margin-bottom: 0;
}
.peserta-membuat-akun-pendaftar1 {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  padding-left: var(--padding-22xl);
}
.peserta-membuat-akun-container1 {
  position: absolute;
  top: 2237px;
  left: 186px;
  font-size: var(--font-size-12xl);
  letter-spacing: 0.04em;
  color: var(--color-black);
  text-align: left;
}
.home8 {
  position: absolute;
  top: 40px;
  left: 52px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
  cursor: pointer;
}
.pmdk-udinus {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4097px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-23xl);
  color: var(--color-white);
  font-family: var(--font-saira-condensed);
}
