.download-1-icon1,
.image-1-icon2 {
  position: absolute;
  top: 120px;
  left: 769px;
  border-radius: var(--br-20xl);
  width: 966px;
  height: 581px;
  object-fit: contain;
}
.image-1-icon2 {
  top: 156px;
  left: 0;
  width: 1020px;
  height: 562px;
  object-fit: cover;
}
.universitas-dian-nuswantoro {
  position: absolute;
  top: 196px;
  left: 480px;
  font-size: var(--font-size-61xl);
  font-weight: 600;
  display: inline-block;
  width: 1610px;
  height: 142px;
}
.logo-fik-42,
.udinus-2-child {
  position: absolute;
  top: 318.5px;
  left: 983px;
  width: 744.5px;
  height: 1px;
  object-fit: cover;
}
.logo-fik-42 {
  top: 246px;
  left: 258px;
  width: 347px;
  height: 364px;
}
.image-10-icon1,
.image-2-icon,
.image-4-icon1 {
  position: absolute;
  top: 873px;
  left: 965px;
  width: 1140px;
  height: 770px;
  object-fit: cover;
}
.image-10-icon1,
.image-4-icon1 {
  top: 1892px;
  left: 39px;
  border-radius: var(--br-8xl);
  width: 508px;
  height: 338px;
}
.image-10-icon1 {
  top: 1894px;
  left: 609px;
  border-radius: var(--br-5xl);
  height: 339px;
}
.image-7-icon1,
.image-8-icon1 {
  top: 2295px;
  height: 338px;
  object-fit: cover;
}
.image-7-icon1 {
  position: absolute;
  left: 44px;
  border-radius: var(--br-8xl);
  width: 508px;
}
.image-8-icon1 {
  left: 609px;
}
.group-child120,
.image-8-icon1,
.image-9-icon1 {
  position: absolute;
  border-radius: var(--br-8xl);
  width: 508px;
}
.image-9-icon1 {
  top: 2295px;
  left: 1176px;
  height: 338px;
  object-fit: cover;
}
.group-child120 {
  top: 0;
  left: 0;
  background-color: var(--color-snow-200);
  height: 67px;
}
.rectangle-parent49 {
  top: 2167px;
  left: 45px;
  color: var(--color-gray-200);
}
.group-child122,
.rectangle-parent49,
.rectangle-parent50 {
  position: absolute;
  width: 508px;
  height: 67px;
}
.rectangle-parent50 {
  top: 2566px;
  left: 44px;
  color: var(--color-gray-200);
}
.group-child122 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xl);
  background-color: var(--color-snow-300);
}
.fakultas-ekonomi {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 502px;
  height: 47px;
}
.rectangle-parent51 {
  position: absolute;
  top: 2167px;
  left: 608px;
  width: 508px;
  height: 67px;
  color: var(--color-gray-200);
}
.group-child123,
.teknik-1-icon2 {
  position: absolute;
  border-radius: var(--br-8xl);
}
.teknik-1-icon2 {
  top: 0;
  left: 1px;
  width: 507px;
  height: 338px;
  object-fit: cover;
}
.group-child123 {
  top: 271px;
  left: 0;
  background-color: var(--color-snow-100);
  width: 508px;
  height: 67px;
}
.fakultas-teknik1 {
  position: absolute;
  top: 287px;
  left: 0;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 502px;
  height: 47px;
}
.rectangle-parent52,
.teknik-1-container {
  position: absolute;
  width: 508px;
  color: var(--color-gray-200);
}
.teknik-1-container {
  top: 1896px;
  left: 1177px;
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.25);
  height: 338px;
}
.rectangle-parent52 {
  top: 2566px;
  left: 1176px;
  height: 67px;
}
.group-child125 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 1782px;
  height: 101px;
  object-fit: cover;
}
.group-child126,
.group-child127 {
  position: absolute;
  top: 34px;
  left: 24px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.group-child127 {
  top: 0;
  left: 44px;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan5 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus5 {
  position: absolute;
  top: 27px;
  left: 1397px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
}
.search-icon4 {
  position: absolute;
  top: 34px;
  left: 1225px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.vector-parent3 {
  position: absolute;
  top: 0;
  left: -44px;
  width: 1782px;
  height: 170px;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
}
.group-child128 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back3 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child129,
.group-child130 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child130 {
  left: 69px;
}
.rectangle-parent53 {
  position: absolute;
  top: 2770px;
  left: 1410px;
  width: 239px;
  height: 60px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.menu-icon9 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
}
.group-child131,
.group-child132 {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 248px;
}
.group-child131 {
  top: 0;
  left: 3px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  height: 57px;
}
.group-child132 {
  top: 3px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 56px;
}
.selengkapnya5 {
  position: absolute;
  top: 5.1px;
  left: 27px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 58px;
}
.rectangle-parent54,
.rectangle-parent55 {
  position: absolute;
  top: 654px;
  left: 1408px;
  width: 268px;
  height: 63.1px;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
}
.rectangle-parent55 {
  top: 1559px;
  left: 103px;
}
.udinus-2-inner,
.udinus-2-item {
  position: absolute;
  top: 885px;
  left: 100px;
  background-color: var(--color-brown);
  width: 172px;
  height: 48px;
}
.udinus-2-inner {
  top: 1762px;
  left: 653px;
  border-radius: var(--br-5xs);
  box-shadow: 7px -6px 6.1px rgba(0, 0, 0, 0.25);
  width: 422px;
  height: 99px;
}
.fakultas1,
.media2 {
  position: absolute;
  top: 873px;
  left: 103px;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.04em;
  color: var(--color-gainsboro-100);
  text-align: left;
}
.fakultas1 {
  top: 1757px;
  left: 730px;
  font-size: var(--font-size-51xl);
  color: var(--color-lavender);
}
.humas-udinus5 {
  text-decoration: underline;
}
.humas-udinus4 {
  color: inherit;
}
.oleh-humas-udinus-container2,
.organisasi-mahasiswa-universit-container {
  position: absolute;
  left: 103px;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: left;
}
.oleh-humas-udinus-container2 {
  top: 1247px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-600);
}
.organisasi-mahasiswa-universit-container {
  top: 1312px;
  font-size: var(--font-size-8xl);
  display: inline-block;
  width: 736px;
}
.berita-terkini2,
.ormawa-udinus-borong {
  position: absolute;
  top: 919px;
  left: 100px;
  font-size: var(--font-size-46xl);
  letter-spacing: 0.04em;
  font-weight: 600;
  text-align: left;
}
.ormawa-udinus-borong {
  top: 1067px;
  left: 103px;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.02em;
  display: inline-block;
  width: 912px;
}
.udinus-2-child1 {
  position: absolute;
  top: 1021px;
  left: 108px;
  background-color: var(--color-gray-200);
  width: 959px;
  height: 5px;
}
.group-child135,
.udinus-2-child2 {
  position: absolute;
  top: 1661px;
  left: 521px;
  width: 174px;
  height: 13px;
  object-fit: cover;
}
.group-child135 {
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
}
.group-child136,
.group-child137 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child137 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact6,
.mitra5 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact6 {
  top: 285px;
  left: 1700px;
}
.vector-parent4 {
  position: absolute;
  top: 684px;
  left: 0;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.group-child138,
.group-child139,
.group-child140,
.group-child141 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px -6px 3.4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child139,
.group-child140,
.group-child141 {
  left: 483px;
  box-shadow: 6px -5px 3.8px rgba(0, 0, 0, 0.25);
}
.group-child140,
.group-child141 {
  left: 966px;
  box-shadow: 9px -5px 4px rgba(0, 0, 0, 0.25);
}
.group-child141 {
  left: 1449px;
  box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.25);
}
.group-child142,
.more20 {
  position: absolute;
  top: 0;
  height: 46.1px;
}
.group-child142 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more20 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child143 {
  position: absolute;
  top: 23.1px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.group-child144,
.rectangle-parent57 {
  position: absolute;
  top: 452px;
  left: 76px;
  width: 290px;
  height: 46.1px;
}
.group-child144 {
  top: 451.9px;
  left: 1708px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.group-child150,
.rectangle-parent58,
.rectangle-parent59 {
  position: absolute;
  top: 452px;
  left: 575px;
  width: 290px;
  height: 46.1px;
}
.group-child150,
.rectangle-parent59 {
  left: 1042px;
}
.group-child150 {
  top: 23.1px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent60 {
  position: absolute;
  top: 452px;
  left: 1561px;
  width: 290px;
  height: 46.1px;
}
.rectangle-parent56 {
  position: absolute;
  top: 386px;
  left: 659px;
  width: 1892px;
  height: 550px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.beasiswa4,
.fasilitas4,
.more-info4,
.pendaftaran4 {
  position: absolute;
  top: 408px;
  left: 637px;
  font-weight: 600;
  display: inline-block;
  width: 438px;
  height: 70px;
}
.beasiswa4,
.fasilitas4,
.more-info4 {
  left: 1082px;
}
.fasilitas4,
.more-info4 {
  left: 1558px;
}
.more-info4 {
  left: 2074px;
}
.icoutline-chat-icon2 {
  position: absolute;
  top: 494px;
  left: 922px;
  width: 270px;
  height: 270px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-parent61 {
  position: absolute;
  top: 0;
  left: 1246px;
  width: 1192px;
  height: 764px;
  font-size: var(--font-size-19xl);
  color: var(--color-gray-200);
}
.material-symbolslist-alt-outl-icon4 {
  top: 500px;
  left: 750px;
  width: 253px;
  height: 253px;
}
.fluentbuilding-32-regular-icon4,
.material-symbolslist-alt-outl-icon4,
.vector-icon8 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon8 {
  height: 13.59%;
  width: 7.83%;
  top: 33.64%;
  right: 46.66%;
  bottom: 52.77%;
  left: 45.5%;
  max-width: 100%;
  max-height: 100%;
}
.fluentbuilding-32-regular-icon4 {
  top: 478px;
  left: 1717px;
  width: 258px;
  height: 258px;
}
.dinas-pendidikan-dan-kebudayaa-icon5 {
  position: absolute;
  top: 1124px;
  left: 735px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email5 {
  margin: 0;
}
.email-perguruantinggijateng-container5 {
  position: absolute;
  top: 1106px;
  left: 1626px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.group-parent5 {
  position: absolute;
  top: 2566px;
  left: -637px;
  width: 2758px;
  height: 1531px;
  font-size: var(--font-size-23xl);
}
.organisasi-mahasiswa-universit-container1 {
  position: absolute;
  top: 339px;
  left: 1083px;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  width: 611px;
}
.menu-bar-child18 {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--color-gray-100);
  box-shadow: 5px 0 19.1px rgba(255, 247, 247, 0.36);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 418px;
  height: 1119px;
}
.about4,
.filter4 {
  position: absolute;
  top: 177px;
  left: 24px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 98px;
}
.about4 {
  top: 275px;
}
.menu-bar-child19,
.menu-bar-child20 {
  position: absolute;
  top: 496px;
  left: 132px;
  max-height: 100%;
  width: 284px;
  object-fit: cover;
}
.menu-bar-child20 {
  top: 151px;
  left: 20px;
  width: 396px;
}
.log-out4,
.setting4 {
  position: absolute;
  top: 546px;
  left: 31px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 98px;
}
.log-out4 {
  top: 655px;
}
.menu-bar-child21 {
  position: absolute;
  top: 45px;
  left: 313px;
  width: 62px;
  height: 62px;
  object-fit: contain;
}
.bttn-back4 {
  position: absolute;
  top: 21px;
  left: 279px;
  border-radius: var(--br-9xl);
  background: linear-gradient(
    1.43deg,
    rgba(67, 67, 67, 0.56),
    rgba(150, 150, 150, 0)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 109px;
  height: 109px;
  cursor: pointer;
}
.menu-bar-child22 {
  position: absolute;
  top: 915px;
  left: 132px;
  max-height: 100%;
  width: 284px;
  object-fit: cover;
}
.help4 {
  position: absolute;
  top: 926px;
  left: 31px;
  font-weight: 500;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 374px;
  height: 98px;
}
.menu-icon10 {
  position: absolute;
  top: 62px;
  left: 60px;
  width: 69px;
  height: 37px;
  object-fit: cover;
}
.menu-bar4 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 1117px;
  font-size: var(--font-size-43xl);
  color: var(--color-white);
}
.udinus-2 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4097px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-saira-condensed);
}
