.download-1-icon3,
.image-1-icon5 {
  position: absolute;
  top: 120px;
  left: 769px;
  border-radius: var(--br-20xl);
  width: 966px;
  height: 581px;
  object-fit: contain;
}
.image-1-icon5 {
  top: 156px;
  left: 0;
  width: 1020px;
  height: 562px;
  object-fit: cover;
}
.universitas-dian-nuswantoro11 {
  position: absolute;
  top: 196px;
  left: 480px;
  font-size: var(--font-size-61xl);
  font-weight: 600;
  display: inline-block;
  width: 1610px;
  height: 142px;
}
.logo-fik-47,
.udinus-child {
  position: absolute;
  top: 318.5px;
  left: 983px;
  width: 744.5px;
  height: 1px;
  object-fit: cover;
}
.logo-fik-47 {
  top: 246px;
  left: 258px;
  width: 347px;
  height: 364px;
}
.image-10-icon3,
.image-2-icon3,
.image-4-icon3 {
  position: absolute;
  top: 873px;
  left: 965px;
  width: 1140px;
  height: 770px;
  object-fit: cover;
}
.image-10-icon3,
.image-4-icon3 {
  top: 1892px;
  left: 39px;
  border-radius: var(--br-8xl);
  width: 508px;
  height: 338px;
}
.image-10-icon3 {
  top: 1894px;
  left: 609px;
  border-radius: var(--br-5xl);
  height: 339px;
}
.image-7-icon3,
.image-8-icon3 {
  top: 2295px;
  height: 338px;
  object-fit: cover;
}
.image-7-icon3 {
  position: absolute;
  left: 44px;
  border-radius: var(--br-8xl);
  width: 508px;
}
.image-8-icon3 {
  left: 609px;
}
.group-child403,
.image-8-icon3,
.image-9-icon3 {
  position: absolute;
  border-radius: var(--br-8xl);
  width: 508px;
}
.image-9-icon3 {
  top: 2295px;
  left: 1176px;
  height: 338px;
  object-fit: cover;
}
.group-child403 {
  top: 0;
  left: 0;
  background-color: var(--color-snow-200);
  height: 67px;
}
.fakultas-ilmu-komputer5 {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 502px;
  height: 47px;
}
.rectangle-parent159 {
  position: absolute;
  top: 2167px;
  left: 45px;
  width: 508px;
  height: 67px;
  cursor: pointer;
  color: var(--color-gray-200);
}
.rectangle-parent160 {
  top: 2566px;
  left: 44px;
  color: var(--color-gray-200);
}
.group-child405,
.rectangle-parent160,
.rectangle-parent161 {
  position: absolute;
  width: 508px;
  height: 67px;
}
.group-child405 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xl);
  background-color: var(--color-snow-300);
}
.rectangle-parent161 {
  top: 2167px;
  left: 608px;
  color: var(--color-gray-200);
}
.group-child406,
.teknik-1-icon5 {
  position: absolute;
  border-radius: var(--br-8xl);
}
.teknik-1-icon5 {
  top: 0;
  left: 1px;
  width: 507px;
  height: 338px;
  object-fit: cover;
}
.group-child406 {
  top: 271px;
  left: 0;
  background-color: var(--color-snow-100);
  width: 508px;
  height: 67px;
}
.fakultas-teknik3 {
  position: absolute;
  top: 287px;
  left: 0;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 502px;
  height: 47px;
}
.rectangle-parent162,
.teknik-1-parent3 {
  position: absolute;
  width: 508px;
  color: var(--color-gray-200);
}
.teknik-1-parent3 {
  top: 1896px;
  left: 1177px;
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.25);
  height: 338px;
}
.rectangle-parent162 {
  top: 2566px;
  left: 1176px;
  height: 67px;
}
.toolbar-child13 {
  position: absolute;
  top: 69px;
  left: 0;
  width: 1782px;
  height: 101px;
  object-fit: cover;
}
.toolbar-child14,
.toolbar-child15 {
  position: absolute;
  top: 34px;
  left: 24px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.toolbar-child15 {
  top: 0;
  left: 44px;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan18 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus18 {
  position: absolute;
  top: 27px;
  left: 1397px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
}
.search-icon17 {
  position: absolute;
  top: 34px;
  left: 1225px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.toolbar5 {
  position: absolute;
  top: 0;
  left: -44px;
  width: 1782px;
  height: 170px;
  font-size: var(--font-size-26xl);
  color: var(--color-white);
}
.group-child408 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back14 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child409,
.group-child410 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child410 {
  left: 69px;
}
.rectangle-parent163 {
  position: absolute;
  top: 2770px;
  left: 1410px;
  width: 239px;
  height: 60px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.menu-icon27 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
  cursor: pointer;
}
.group-child411,
.group-child412 {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 248px;
}
.group-child411 {
  top: 0;
  left: 3px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  height: 57px;
}
.group-child412 {
  top: 3px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 56px;
}
.selengkapnya18 {
  position: absolute;
  top: 5.1px;
  left: 27px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 58px;
}
.rectangle-parent164,
.rectangle-parent165 {
  position: absolute;
  top: 654px;
  left: 1408px;
  width: 268px;
  height: 63.1px;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
}
.rectangle-parent165 {
  top: 1559px;
  left: 103px;
}
.udinus-inner,
.udinus-item {
  position: absolute;
  top: 885px;
  left: 100px;
  background-color: var(--color-brown);
  width: 172px;
  height: 48px;
}
.udinus-inner {
  top: 1762px;
  left: 653px;
  border-radius: var(--br-5xs);
  box-shadow: 7px -6px 6.1px rgba(0, 0, 0, 0.25);
  width: 422px;
  height: 99px;
}
.fakultas3,
.media11 {
  position: absolute;
  top: 873px;
  left: 103px;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.04em;
  color: var(--color-gainsboro-100);
  text-align: left;
}
.fakultas3 {
  top: 1757px;
  left: 730px;
  font-size: var(--font-size-51xl);
  color: var(--color-lavender);
}
.humas-udinus15 {
  text-decoration: underline;
}
.humas-udinus14 {
  color: inherit;
}
.oleh-humas-udinus-container7,
.organisasi-mahasiswa-universit-container4 {
  position: absolute;
  left: 103px;
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: left;
}
.oleh-humas-udinus-container7 {
  top: 1247px;
  font-size: var(--font-size-6xl);
  color: var(--color-gray-600);
}
.organisasi-mahasiswa-universit-container4 {
  top: 1312px;
  font-size: var(--font-size-8xl);
  display: inline-block;
  width: 736px;
}
.berita-terkini5,
.ormawa-udinus-borong3 {
  position: absolute;
  top: 919px;
  left: 100px;
  font-size: var(--font-size-46xl);
  letter-spacing: 0.04em;
  font-weight: 600;
  text-align: left;
}
.ormawa-udinus-borong3 {
  top: 1067px;
  left: 103px;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.02em;
  display: inline-block;
  width: 912px;
}
.udinus-child1 {
  position: absolute;
  top: 1021px;
  left: 108px;
  background-color: var(--color-gray-200);
  width: 959px;
  height: 5px;
}
.group-child415,
.udinus-child2 {
  position: absolute;
  top: 1661px;
  left: 521px;
  width: 174px;
  height: 13px;
  object-fit: cover;
}
.group-child415 {
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
}
.group-child416,
.group-child417 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child417 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact24,
.mitra18 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact24 {
  top: 285px;
  left: 1700px;
}
.vector-parent18 {
  position: absolute;
  top: 684px;
  left: 0;
  width: 2758px;
  height: 847px;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.group-child418,
.group-child419,
.group-child420,
.group-child421 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px -6px 3.4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child419,
.group-child420,
.group-child421 {
  left: 483px;
  box-shadow: 6px -5px 3.8px rgba(0, 0, 0, 0.25);
}
.group-child420,
.group-child421 {
  left: 966px;
  box-shadow: 9px -5px 4px rgba(0, 0, 0, 0.25);
}
.group-child421 {
  left: 1449px;
  box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.25);
}
.group-child422,
.more72 {
  position: absolute;
  top: 0;
  height: 46.1px;
}
.group-child422 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more72 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child423 {
  position: absolute;
  top: 23.1px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.group-child424,
.rectangle-parent167 {
  position: absolute;
  top: 452px;
  left: 76px;
  width: 290px;
  height: 46.1px;
}
.group-child424 {
  top: 451.9px;
  left: 1708px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.group-child430,
.rectangle-parent168,
.rectangle-parent169 {
  position: absolute;
  top: 452px;
  left: 575px;
  width: 290px;
  height: 46.1px;
}
.group-child430,
.rectangle-parent169 {
  left: 1042px;
}
.group-child430 {
  top: 23.1px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent170 {
  position: absolute;
  top: 452px;
  left: 1561px;
  width: 290px;
  height: 46.1px;
}
.rectangle-parent166 {
  position: absolute;
  top: 386px;
  left: 659px;
  width: 1892px;
  height: 550px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.beasiswa9,
.fasilitas9,
.more-info13,
.pendaftaran9 {
  position: absolute;
  top: 408px;
  left: 637px;
  font-weight: 600;
  display: inline-block;
  width: 438px;
  height: 70px;
}
.beasiswa9,
.fasilitas9,
.more-info13 {
  left: 1082px;
}
.fasilitas9,
.more-info13 {
  left: 1558px;
}
.more-info13 {
  left: 2074px;
}
.icoutline-chat-icon9 {
  position: absolute;
  top: 494px;
  left: 922px;
  width: 270px;
  height: 270px;
  overflow: hidden;
  object-fit: cover;
}
.rectangle-parent171 {
  position: absolute;
  top: 0;
  left: 1246px;
  width: 1192px;
  height: 764px;
  font-size: var(--font-size-19xl);
  color: var(--color-gray-200);
}
.material-symbolslist-alt-outl-icon9 {
  top: 500px;
  left: 750px;
  width: 253px;
  height: 253px;
}
.fluentbuilding-32-regular-icon9,
.material-symbolslist-alt-outl-icon9,
.vector-icon37 {
  position: absolute;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon37 {
  height: 13.59%;
  width: 7.83%;
  top: 33.64%;
  right: 46.66%;
  bottom: 52.77%;
  left: 45.5%;
  max-width: 100%;
  max-height: 100%;
}
.fluentbuilding-32-regular-icon9 {
  top: 478px;
  left: 1717px;
  width: 258px;
  height: 258px;
}
.dinas-pendidikan-dan-kebudayaa-icon18 {
  position: absolute;
  top: 1124px;
  left: 735px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email18 {
  margin: 0;
}
.email-perguruantinggijateng-container18 {
  position: absolute;
  top: 1106px;
  left: 1626px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  color: var(--color-white);
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.group-parent16 {
  position: absolute;
  top: 2566px;
  left: -637px;
  width: 2758px;
  height: 1531px;
  font-size: var(--font-size-23xl);
}
.organisasi-mahasiswa-universit-container5 {
  position: absolute;
  top: 339px;
  left: 1083px;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  text-align: right;
  display: inline-block;
  width: 611px;
}
.home13 {
  position: absolute;
  top: 34px;
  left: 82px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
  cursor: pointer;
}
.udinus4 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 4097px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-black);
  font-family: var(--font-saira-condensed);
}
