.download-1-icon2,
.image-17-icon3 {
  position: absolute;
  top: 120px;
  left: 769px;
  border-radius: var(--br-20xl);
  width: 966px;
  height: 581px;
  object-fit: contain;
}
.image-17-icon3 {
  top: 156px;
  left: 0;
  border-radius: var(--br-33xl);
  width: 1034px;
  height: 585px;
  object-fit: cover;
}
.universitas-diponegoro4 {
  position: absolute;
  top: 196px;
  left: 468px;
  font-size: var(--font-size-64xl);
  font-weight: 600;
  color: var(--color-black);
  display: inline-block;
  width: 1610px;
  height: 142px;
}
.undip-2-child {
  position: absolute;
  top: 318.5px;
  left: 983px;
  width: 744.5px;
  height: 1px;
  object-fit: cover;
}
.image-10-icon2,
.image-18-icon3,
.image-4-icon2 {
  position: absolute;
  top: 889px;
  left: 966px;
  border-radius: var(--br-88xl);
  width: 1264px;
  height: 820px;
  object-fit: cover;
}
.image-10-icon2,
.image-4-icon2 {
  top: 1892px;
  left: 39px;
  border-radius: var(--br-8xl);
  width: 508px;
  height: 338px;
}
.image-10-icon2 {
  top: 1894px;
  left: 609px;
  border-radius: var(--br-5xl);
  height: 339px;
}
.image-7-icon2,
.image-8-icon2 {
  top: 2295px;
  height: 338px;
  object-fit: cover;
}
.image-7-icon2 {
  position: absolute;
  left: 44px;
  border-radius: var(--br-8xl);
  width: 508px;
}
.image-8-icon2 {
  left: 609px;
}
.group-child336,
.image-8-icon2,
.image-9-icon2 {
  position: absolute;
  border-radius: var(--br-8xl);
  width: 508px;
}
.image-9-icon2 {
  top: 2295px;
  left: 1176px;
  height: 338px;
  object-fit: cover;
}
.group-child336 {
  top: 0;
  left: 0;
  background-color: var(--color-snow-200);
  height: 67px;
}
.fakultas-ilmu-sosial1 {
  position: absolute;
  top: 16px;
  left: 0;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 502px;
  height: 47px;
}
.rectangle-parent128 {
  position: absolute;
  top: 2167px;
  left: 45px;
  width: 508px;
  height: 67px;
}
.rectangle-parent129 {
  top: 2566px;
  left: 44px;
}
.group-child338,
.rectangle-parent129,
.rectangle-parent130 {
  position: absolute;
  width: 508px;
  height: 67px;
}
.group-child338 {
  top: 0;
  left: 0;
  border-radius: var(--br-8xl);
  background-color: var(--color-snow-300);
}
.rectangle-parent130 {
  top: 2167px;
  left: 608px;
}
.group-child339,
.teknik-1-icon3 {
  position: absolute;
  border-radius: var(--br-8xl);
}
.teknik-1-icon3 {
  top: 0;
  left: 1px;
  width: 507px;
  height: 338px;
  object-fit: cover;
}
.group-child339 {
  top: 271px;
  left: 0;
  background-color: var(--color-snow-100);
  width: 508px;
  height: 67px;
}
.fakultas-teknik2 {
  position: absolute;
  top: 287px;
  left: 0;
  line-height: 94.44%;
  font-weight: 800;
  display: inline-block;
  width: 502px;
  height: 47px;
}
.teknik-1-parent1 {
  position: absolute;
  top: 1896px;
  left: 1177px;
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.25);
  width: 508px;
  height: 338px;
}
.rectangle-parent131,
.rectangle-parent132,
.undip-2-item {
  position: absolute;
  top: 2566px;
  left: 1176px;
  width: 508px;
  height: 67px;
}
.rectangle-parent132,
.undip-2-item {
  left: 609px;
}
.undip-2-item {
  top: 69px;
  left: -44px;
  width: 1782px;
  height: 101px;
  object-fit: cover;
}
.undip-2-child1,
.undip-2-inner {
  position: absolute;
  top: 34px;
  left: -20px;
  width: 1753px;
  height: 122px;
  object-fit: contain;
}
.undip-2-child1 {
  top: 0;
  left: 0;
  width: 1728px;
  height: 136px;
  object-fit: cover;
}
.pemetaan15 {
  background: linear-gradient(180deg, #f05941, #ae2c3d);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.pemetaankampus15 {
  position: absolute;
  top: 27px;
  left: 1353px;
  font-size: var(--font-size-26xl);
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 63px;
  color: var(--color-white);
}
.search-icon14 {
  position: absolute;
  top: 34px;
  left: 1181px;
  width: 219px;
  height: 86px;
  object-fit: cover;
}
.home10 {
  position: absolute;
  top: 35px;
  left: 52px;
  font-size: var(--font-size-21xl);
  display: inline-block;
  color: var(--color-peachpuff);
  width: 438px;
  height: 70px;
}
.group-child342 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-gray-1000);
  box-shadow: 5px 4px 6.9px rgba(0, 0, 0, 0.25);
  border: 3px solid var(--color-indigo);
  box-sizing: border-box;
  width: 239px;
  height: 60px;
}
.back11 {
  position: absolute;
  top: 7px;
  left: 50px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
  height: 46.1px;
}
.group-child343,
.group-child344 {
  position: absolute;
  top: 18px;
  left: 169px;
  max-width: 100%;
  overflow: hidden;
  height: 23px;
  object-fit: contain;
}
.group-child344 {
  left: 69px;
}
.rectangle-parent133 {
  position: absolute;
  top: 3606px;
  left: 1427px;
  width: 239px;
  height: 60px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.menu-icon23 {
  position: absolute;
  top: 49px;
  left: 52px;
  width: 69px;
  height: 37px;
  object-fit: cover;
}
.group-child345,
.group-child346 {
  position: absolute;
  border-radius: var(--br-3xs);
  width: 248px;
}
.group-child345 {
  top: 0;
  left: 3px;
  background-color: var(--color-brown);
  box-shadow: 4px -2px 5.5px rgba(0, 0, 0, 0.25);
  height: 57px;
}
.group-child346 {
  top: 3px;
  left: 0;
  background-color: var(--color-gray-200);
  height: 56px;
}
.selengkapnya16 {
  position: absolute;
  top: 5.1px;
  left: 27px;
  letter-spacing: 0.04em;
  font-weight: 600;
  display: inline-block;
  width: 241px;
  height: 58px;
}
.rectangle-parent134,
.rectangle-parent135 {
  position: absolute;
  top: 654px;
  left: 1408px;
  width: 268px;
  height: 63.1px;
  text-align: left;
  font-size: var(--font-size-14xl);
  color: var(--color-white);
}
.rectangle-parent135 {
  top: 1559px;
  left: 103px;
}
.undip-2-child2,
.undip-2-child3 {
  position: absolute;
  top: 885px;
  left: 100px;
  background-color: var(--color-brown);
  width: 172px;
  height: 48px;
}
.undip-2-child3 {
  top: 1762px;
  left: 653px;
  border-radius: var(--br-5xs);
  box-shadow: 7px -6px 6.1px rgba(0, 0, 0, 0.25);
  width: 422px;
  height: 99px;
}
.berita-terkini4,
.fakultas2,
.media10 {
  position: absolute;
  top: 873px;
  left: 103px;
  font-size: var(--font-size-26xl);
  letter-spacing: 0.04em;
  color: var(--color-gainsboro-100);
  text-align: left;
}
.berita-terkini4,
.fakultas2 {
  top: 1757px;
  left: 730px;
  font-size: var(--font-size-51xl);
  color: var(--color-lavender);
}
.berita-terkini4 {
  top: 919px;
  left: 100px;
  font-size: var(--font-size-46xl);
  font-weight: 600;
  color: var(--color-black);
}
.undip-2-child4 {
  position: absolute;
  top: 1021px;
  left: 108px;
  background-color: var(--color-gray-200);
  width: 959px;
  height: 5px;
}
.undip-2-child5 {
  position: absolute;
  top: 1661px;
  left: 521px;
  width: 174px;
  height: 13px;
  object-fit: cover;
}
.perguruan-tinggi-negeri5 {
  text-decoration: underline;
}
.perguruan-tinggi-negeri4 {
  color: inherit;
}
.adalah-sebuah-perguruan-tinggi1 {
  margin: 0;
}
.adalah-sebuah-perguruan-container1 {
  position: absolute;
  top: 345px;
  left: 1033px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-black);
  text-align: right;
  display: inline-block;
  width: 669px;
}
.image-15-icon3 {
  position: absolute;
  top: 258px;
  left: 283px;
  width: 305px;
  height: 357px;
  object-fit: cover;
}
.tim-program-penguatan3 {
  position: absolute;
  top: 1310px;
  left: 106px;
  font-size: var(--font-size-8xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 775px;
}
.group-child349 {
  position: absolute;
  top: 0;
  left: 0;
  width: 2609px;
  height: 575px;
  object-fit: cover;
}
.group-child350,
.group-child351 {
  position: absolute;
  top: 69.2px;
  left: 1px;
  width: 2757px;
  height: 647.9px;
  object-fit: contain;
}
.group-child351 {
  top: 142.2px;
  left: 0;
  width: 2609px;
  height: 704.8px;
  object-fit: cover;
}
.contact19,
.mitra15 {
  position: absolute;
  top: 287px;
  left: 889px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 150px;
}
.contact19 {
  top: 285px;
  left: 1700px;
}
.vector-parent15 {
  position: absolute;
  top: 314px;
  left: 0;
  width: 2758px;
  height: 847px;
}
.dinas-pendidikan-dan-kebudayaa-icon15 {
  position: absolute;
  top: 746px;
  left: 680px;
  width: 733.1px;
  height: 167px;
  object-fit: cover;
}
.email-perguruantinggijateng-container15 {
  position: absolute;
  top: 767px;
  left: 1584px;
  font-size: var(--font-size-11xl);
  letter-spacing: 0.08em;
  line-height: 233.74%;
  font-weight: 600;
  white-space: pre-wrap;
  text-align: left;
  display: inline-block;
  width: 680px;
}
.group-child352,
.group-child353,
.group-child354 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 7px -6px 3.4px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child353,
.group-child354 {
  left: 966px;
  box-shadow: 9px -5px 4px rgba(0, 0, 0, 0.25);
}
.group-child354 {
  left: 1449px;
  box-shadow: 5px -6px 4px rgba(0, 0, 0, 0.25);
}
.group-child355,
.more60 {
  position: absolute;
  top: 0;
  height: 46.1px;
}
.group-child355 {
  left: 0;
  background-color: var(--color-gray-200);
  width: 290px;
}
.more60 {
  left: 72px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.group-child356 {
  position: absolute;
  top: 23.1px;
  left: 183px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.group-child357,
.rectangle-parent137 {
  position: absolute;
  top: 452px;
  left: 76px;
  width: 290px;
  height: 46.1px;
}
.group-child357 {
  top: 451.9px;
  left: 1708px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.group-child361,
.rectangle-parent138 {
  position: absolute;
  top: 452px;
  left: 1042px;
  width: 290px;
  height: 46.1px;
}
.group-child361 {
  top: 23.1px;
  left: 183px;
  width: 35px;
  height: 0;
  object-fit: cover;
}
.rectangle-parent139 {
  position: absolute;
  top: 452px;
  left: 1561px;
  width: 290px;
  height: 46.1px;
}
.rectangle-parent136 {
  position: absolute;
  top: 1px;
  left: 22px;
  width: 1892px;
  height: 550px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.fasilitas8,
.more-info10,
.pendaftaran8 {
  position: absolute;
  top: 22px;
  left: 0;
  font-weight: 600;
  display: inline-block;
  width: 438px;
  height: 70px;
}
.fasilitas8,
.more-info10 {
  left: 921px;
}
.more-info10 {
  left: 1437px;
}
.icoutline-chat-icon6,
.material-symbolslist-alt-outl-icon8 {
  position: absolute;
  top: 108px;
  left: 1531px;
  width: 270px;
  height: 270px;
  overflow: hidden;
  object-fit: cover;
}
.material-symbolslist-alt-outl-icon8 {
  top: 114px;
  left: 113px;
  width: 253px;
  height: 253px;
}
.group-child362 {
  position: absolute;
  top: 0;
  left: 60px;
  border-radius: var(--br-9xl);
  background-color: var(--color-gray-900);
  box-shadow: 6px -5px 3.8px rgba(0, 0, 0, 0.25);
  width: 443px;
  height: 550px;
}
.group-child364 {
  position: absolute;
  top: 23px;
  left: 175px;
  max-height: 100%;
  width: 35px;
  object-fit: cover;
}
.more63,
.rectangle-parent141 {
  position: absolute;
  height: 46.1px;
}
.more63 {
  top: 0;
  left: 70px;
  font-weight: 600;
  display: inline-block;
  width: 138px;
}
.rectangle-parent141 {
  top: 452px;
  left: 136px;
  width: 290px;
  font-size: var(--font-size-11xl);
  color: var(--color-white);
}
.group-wrapper2,
.rectangle-parent140 {
  position: absolute;
  top: 0;
  left: 0;
  width: 503px;
  height: 550px;
}
.group-wrapper2 {
  left: 439px;
}
.fluentbuilding-32-regular-icon8,
.vector-icon32 {
  position: absolute;
  top: 92px;
  left: 1080px;
  width: 258px;
  height: 258px;
  overflow: hidden;
  object-fit: cover;
}
.vector-icon32 {
  height: 37.77%;
  width: 11.29%;
  top: 22.87%;
  right: 56.74%;
  bottom: 39.36%;
  left: 31.97%;
  max-width: 100%;
  max-height: 100%;
}
.group-parent14,
.group-parent15 {
  position: absolute;
  top: 0;
  left: 548px;
  width: 1914px;
  height: 551px;
  font-size: var(--font-size-23xl);
  color: var(--color-black);
}
.group-parent14 {
  top: 4032px;
  left: -548px;
  width: 2758px;
  height: 1161px;
  font-size: var(--font-size-49xl);
  color: var(--color-white);
}
.image-19-icon1,
.image-20-icon1 {
  position: absolute;
  top: 2698px;
  left: 44px;
  border-radius: var(--br-8xl);
  width: 508px;
  height: 338px;
  object-fit: cover;
}
.image-20-icon1 {
  top: 2700px;
  left: 614px;
  border-radius: var(--br-5xl);
  height: 339px;
}
.image-21-icon1,
.image-22-icon1,
.image-23-icon1 {
  position: absolute;
  top: 3101px;
  left: 49px;
  border-radius: var(--br-8xl);
  width: 508px;
  height: 338px;
  object-fit: cover;
}
.image-22-icon1,
.image-23-icon1 {
  left: 614px;
}
.image-23-icon1 {
  left: 1181px;
}
.rectangle-parent142 {
  position: absolute;
  top: 2973px;
  left: 50px;
  width: 508px;
  height: 67px;
  font-size: var(--font-size-14xl);
}
.rectangle-parent143,
.rectangle-parent144,
.teknik-1-parent2 {
  position: absolute;
  top: 3372px;
  left: 49px;
  width: 508px;
  height: 67px;
}
.rectangle-parent144,
.teknik-1-parent2 {
  top: 2973px;
  left: 613px;
}
.teknik-1-parent2 {
  top: 2702px;
  left: 1182px;
  box-shadow: 13px 15px 13px rgba(0, 0, 0, 0.25);
  height: 338px;
  font-size: var(--font-size-14xl);
}
.rectangle-parent145,
.rectangle-parent146 {
  position: absolute;
  top: 3372px;
  left: 1181px;
  width: 508px;
  height: 67px;
}
.rectangle-parent146 {
  left: 614px;
  font-size: var(--font-size-15xl);
}
.undip-raih-43 {
  position: absolute;
  top: 1039px;
  left: 100px;
  font-size: var(--font-size-36xl);
  letter-spacing: 0.02em;
  font-weight: 600;
  color: var(--color-black);
  text-align: left;
  display: inline-block;
  width: 910px;
}
.oleh-humas-undip-container5 {
  position: absolute;
  top: 1214px;
  left: 100px;
  font-size: var(--font-size-6xl);
  letter-spacing: 0.04em;
  font-weight: 500;
  color: var(--color-gray-700);
  text-align: left;
}
.menu-bar-child38 {
  position: absolute;
  top: -1px;
  left: -1px;
  background-color: var(--color-gray-100);
  box-shadow: 5px 0 19.1px rgba(255, 247, 247, 0.36);
  border: 1px solid var(--color-gray-1100);
  box-sizing: border-box;
  width: 418px;
  height: 1119px;
}
.about8,
.filter8 {
  position: absolute;
  top: 177px;
  left: 24px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 98px;
}
.about8 {
  top: 275px;
}
.menu-bar-child39,
.menu-bar-child40 {
  position: absolute;
  top: 496px;
  left: 132px;
  max-height: 100%;
  width: 284px;
  object-fit: cover;
}
.menu-bar-child40 {
  top: 151px;
  left: 20px;
  width: 396px;
}
.log-out8,
.setting8 {
  position: absolute;
  top: 546px;
  left: 31px;
  font-weight: 600;
  display: inline-block;
  width: 374px;
  height: 98px;
}
.log-out8 {
  top: 655px;
}
.menu-bar-child41 {
  position: absolute;
  top: 45px;
  left: 313px;
  width: 62px;
  height: 62px;
  object-fit: contain;
}
.bttn-back8 {
  position: absolute;
  top: 21px;
  left: 279px;
  border-radius: var(--br-9xl);
  background: linear-gradient(
    1.43deg,
    rgba(67, 67, 67, 0.56),
    rgba(150, 150, 150, 0)
  );
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid var(--color-darkgray-100);
  box-sizing: border-box;
  width: 109px;
  height: 109px;
  cursor: pointer;
}
.menu-bar-child42 {
  position: absolute;
  top: 915px;
  left: 132px;
  max-height: 100%;
  width: 284px;
  object-fit: cover;
}
.help8 {
  position: absolute;
  top: 926px;
  left: 31px;
  font-weight: 500;
  color: var(--color-darkgray-200);
  display: inline-block;
  width: 374px;
  height: 98px;
}
.menu-icon24 {
  position: absolute;
  top: 62px;
  left: 60px;
  width: 69px;
  height: 37px;
  object-fit: cover;
}
.menu-bar8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 416px;
  height: 1117px;
  font-size: var(--font-size-43xl);
  color: var(--color-white);
}
.undip-2 {
  position: relative;
  background-color: var(--color-antiquewhite);
  width: 100%;
  height: 5193px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--color-gray-200);
  font-family: var(--font-saira-condensed);
}
